MONGODB_URI=mongodb+srv://astha:23IT376.@cluster0.9w9ydzp.mongodb.net/qr_generator?retryWrites=true&w=majority
PORT=5000
NODE_ENV=development
DOMAIN=https://qrcode-38es.vercel.app/
FRONTEND_URL=https://qrcode-38es.vercel.app/
